// out: null, compress: true, strictMath: true
@charset "utf-8";
/* 본문 공통 */

body {
    position: relative;
    background: #ffffff;
    color: #757575;
    letter-spacing: -0.04em;
    a:link {
        color: @link-base;
    }
    a:hover {
        color: @link-hover
    }
}
.top {
    height: 30px;
    background: #fdfdfd;
    border: 1px #f5f5f5 solid;
}
.tt_menubar_inner {
    padding-top:3px;
}

.gnb {
    border-bottom: 1px solid @gray-lighter;
    padding: 10px 0;
    .logo {

    }
    .depth1 {
        margin-top: 15px;
        a {
            color:@gray-base;
            font-weight:bold;
        }
        > li {
            margin-right: 2em;
            vertical-align: top;
            font-size: 15px;
            > ul {
                display: none;
                margin-top:1em;
                font-size: 13px;
                a {                
                font-weight:normal;
                color:@gray
                }            }
        }
    }
    .search {
        float: right;
        margin-top: 10px;
    }
}
.mainDetail {
    position: relative;
    margin-top:20px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px #eee solid;
    .article_rep_date {
        width: 55px;
        height: 55px;
        background: #ff3a00;
        color: #fff;
        float: left;
        margin-right: 10px;
        .ym {
            font-family: verdana, sans-serif;
            font-size: 0.75em;
            letter-spacing: -0.08em;
            text-align: center;
            position: relative;
            top: 2px;
        }
        .d {
            position: relative;
            font: bold 2em verdana, sans-serif;
            text-align: center;
            top: -5px;
        }
    }
    .category {
        font-size: 0.85em;
        line-height: 1.5;
        padding-top: 0;
    }
    .articleTitle {
        font-size: 2em;
        font-weight: bold;
        margin: 0;
        margin-top: 5px;
        a {
            color: #333;
        }
    }
    .admin {
        font: normal 0.85em 'Nanum Gothic', sans-serif;
        margin-top: 12px;
    }
}
.contents {
    font-size: 1.2em;
    .ad {
        text-align: center;
        padding: 0 20px;
        overflow: hidden;
        .google_ad1 {
            float: left;
            margin-right: 10px;
        }
        .google_ad2 {
            float: right;
            margin-left: 10px;
        }
    }
}
