// out: null, compress: true, strictMath: true
@charset "utf-8";
/* 본문 공통 */

body {
    height: 100%;
    position: relative;
    background: #f5f5f5;
    color: #757575;
    letter-spacing: -0.04em;
    a:link {
        color: @link-base;
    }
    a:hover {
        color: @link-hover
    }
    #contents {
        overflow: hidden;
        background: #fff;
        // padding: 0 40px;
         .mainTitle {
            margin-top: 30px;
            padding-bottom: 20px;
            // border-bottom: 1px @gray-lighter solid;
            .article_rep_date {
                float: left;
                width: 60px;
                height: 60px;
                margin-right: 10px;
                margin-bottom: 55px;
                border-radius: 50%;
                background: @article_date_bg;
                font-family: verdana, sans-serif;
                .ym {
                    font-size: .75em;
                    letter-spacing: -.08em;
                    text-align: center;
                    position: relative;
                    color: darken(@article_date_bg, 30%);
                    top: 6px;
                }
                .d {
                    color: #fff;
                    position: relative;
                    font: 700 2em verdana, sans-serif;
                    text-align: center;
                    top: -3px;
                }
            }
            .category {
                line-height: 1;
            }
            .articleTitle {
                margin-top: 4px;
                margin-bottom: 5px;
                a {
                    color: @gray-darker;
                }
            }
        }
        .content_body {
            margin-top: 20px;
            font-size: 1em;
            color: @gray;
            ul, ol {
                font-size: 0.9em;
                line-height: 1.6;
                padding-left: 1.6em;
                color: #333;
            }
            .google_top1 {
                display: none;
                text-align: center;
                margin-bottom: 20px;
            }
            .google_ad2 {
                display: block;
                text-align: center;
                margin-top: 20px;
            }
             .gAd {
                    text-align: center;
                    .google_ad3{
                        display: block;
                    }
                    .google_ad4{
                        display: none;
                    }
                }

            table {
                padding: 0;
                border-collapse: collapse;
                border-spacing: 0;
                font-size: 0.8em;
                font: inherit;
                border: 0;
                tbody {
                    margin: 0;
                    padding: 0;
                    border: 0;
                }
                tr {
                    border: 0;
                    border-top: 1px solid #CCC;
                    background-color: white;
                    margin: 0;
                    padding: 0;
                    th {
                        border: 1px solid #CCC;
                        margin: 0;
                        padding: 0 1em;
                        font-size: 0.8em;
                        font-weight: bold;
                        background-color: #F0F0F0;
                    }
                    td {
                        border: 1px solid #CCC;
                        margin: 0;
                        padding: 0 1em;
                        font-size: 0.8em;
                    }
                }
                tr:nth-child(2n) {
                    background-color: #F8F8F8;
                }
            }

        }

        ol.comment > li {
            color: @gray-darker;
            border-bottom: 1px @gray-lighter solid;
            small {
                color: @gray-light;
                a {
                    color: @gray-light;
                    margin-left: 10px;
                }
                .date {
                    font-family: verdana;
                    font-size: 10px;
                    color: #aaa;
                }
            }
        }
        .panel-footer {
            overflow: hidden;
            .commentWrite {
                .form-group {
                    margin-right: 15px;
                }
            }
            div {
                margin: 3px 0
            }
            .checkbox input {
                margin-top: 8px;
            }
        }
    }
    #guestbook {
        .commentWrite {
            margin-bottom: 5px;
            .form-group {
                margin-right: 15px;
            }
        }
        .write {
            overflow: hidden;
            margin-top: 5px;
        }
        #guestList {
            ol > li {
                color: @gray-darker;
                border-bottom: 1px @gray-lighter solid;
                small {
                    color: @gray-light;
                    a {
                        color: @gray-light;
                        margin-left: 10px;
                    }
                    .date {
                        font-family: verdana;
                        font-size: 10px;
                        color: #aaa;
                    }
                }
                ul {
                    margin: 10px 0px;
                    padding: 0px 10px;
                    background: #f8f8f8;
                    border-top: 1px #eee solid;
                }
            }
        }
    }
    #sideArea {
        overflow: hidden;
        position: relative;
        padding-top: 30px;
        .trans-dumy {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 10;
            background-color: rgba( 245, 245, 245, 1);
            display: none;
            .icon_mouseOn {
                position: absolute;
                left:70px;
                top: 200px;
                color: #ddd;
                p{
                    text-align: center;
                    color: @gray-light;
                }
            }
        }
        .breadcrumb {
            font-family: @font_11;
            font-size: 11px;
            letter-spacing: -0.18em;
        }
        a {
            color: @gray-light
        }
        .Sidebar {
            margin-top: 20px;
            .sidebarTitle {
                color: @gray;
                font-size: 16px;
                border-bottom: 1px #ddd solid;
            }
            ul {
                padding-left: 16px;
                font-size: 11px;
                line-height: 1.5;
                font-family: @font_11;
            }
        }
        #blogImage img {
            width: 100%;
        }
        #tagbox ul li {
            display: inline-block;
            padding-right: 5px;
            padding-left: 5px;
        }
    }
}
/* Medium devices (desktops, 992px and up) */

@media screen and (min-width: 992px) {
    body {
        #contents {
            padding: 0 40px;
            .content_body {
                font-family: 'Nanum Gothic';
                font-size: 1.15em;
                .google_top1 {
                    display: block;
                }
                .google_ad2 {
                    display: none;
                }
                .gAd {
                    text-align: center;
                    .google_ad3{
                        display: inline;
                    }
                    .google_ad4{
                        display: inline;
                    }
                }
            }
        }
        #sideArea {
            .trans-dumy {
                display: block;
            }
        }
    }
}
