// out: null, compress: true, strictMath: true
@charset "utf-8";
 
.top {
    border-bottom: 1px solid @gray-lighter ;   
}




.mainDetail {
	position:relative;
	margin-bottom:20px;
    .article_rep_date {
        width: 45px;
        height: 45px;
        background: #ff3a00;
        color: #fff;
        float: left;
        margin-right: 10px;
        .ym {
        	font:verdana,sans-serif;
        	font-size:0.7em;
        	letter-spacing:-0.14em;
        	text-align:center;
        	position:relative;
        	top:2px;
        }
        .d {
        	font:normal 2em verdana,sans-serif;
        	text-align:center;
        	position:relative;
        	top:-3px;
        }
    }
    h2 {
    	a{
    		color:#333;
    	}
    }
    .category{
    	font:normal 0.75em 'Nanum Gothic',sans-serif;
    	padding-top:2px;
    }
    .articleTitle{
    	font:bold 2em 'Nanum Gothic',sans-serif;
    	color:#ff3a00;
    	margin:0;
    }
    .admin{
    	font:normal 0.75em 'Nanum Gothic',sans-serif;
    	margin-top:10px;
    }
}
 